@media (max-width: 500px)  {
  body {
    margin: 15px;
  }

  h1 {
    font-size: 170%;
  }

  p {
    font-size: 100%;
  }

  #logo {
    width: 85px;
    height: 110px;
  }

  #loremText {
    width: 260px;
    height: 85px;

  }

  #portfolioTitle {
    width: 165px;
    height: 20px;
  }

  #imageContainer {
    width: 340px;
  }
  img {
    width: 145px;
    height: 145px;
    margin: 10px;
  }
}