@media (max-width: 345px)  {
  body {
    margin: 15px;
  }

  h1 {
    font-size: 220%;
  }

  p {
    font-size: 130%;
  }

  #logo {
    width: 85px;
    height: 110px;
  }

  #loremText {

  }

  #portfolioTitle {

  }

  #textContainer {
    width: 445px;
  }

  #imageContainer {
    width: 340px;
  }
  img {
    width: 145px;
    height: 145px;
    margin: 10px;
  }
}