@media (max-width: 660px)  {

  h1 {
    font-size: 170%;
  }

  p {
    font-size: 99%;
    line-height: 24px;
  }

  body {
    margin: 20px;
  }

  #logo {
    width: 25%;
    height: 25%;
  }

  #loremText {
    width: 250px;
    height: 40px;
    margin-top: 120px;
  }

  #portfolioTitle {
    width: 165px;
    height: 10px;
  }

  .imageLayout {
    padding: 5px;
  }
}