html {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 255px;
  margin-top: 10px;
  margin-right: 235px;
  width: 100%;
}

main {
  margin: 0 auto;
}

h1, p {
  font-family: 'Arvo', serif;
  margin: auto;
}

h1 {
  font-weight: 600;
}

p {
  font-size: 120%;
}

#logo {
  width: 100px;
  height: 130px;
}

#loremText {
  width: 390px;
  height: 75px;
  margin-top: 50px;
  margin-bottom: 90px;
}

#portfolioTitle {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
}

.centerText {
  text-align: center;
}

.centerDiv {
  margin: 0 auto;
}

img {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

#imageContainer {
  width: 1140px;
}

@import "mobile";