html {
  margin: 0;
  padding: 0;
}



main {
  margin: 0 auto;
}

h1, p {
  font-family: 'Arvo', serif;
  margin: auto;
}

h1 {
  font-weight: 600;
}

p {
  font-size: 120%;
  line-height: 30px;
}

#logo {
  margin: 20px;
  width: 102px;
  height: 130px;
  float: left;
}

#loremText {
  width: 394px;
  height: 76px;
  margin-top: 195px;
  margin-bottom: 92px;
}

#portfolioTitle {
  width: 248px;
  height: 29px;
  margin-bottom: 29px;
}

.centerText {
  text-align: center;
}

#imagesContainer {
  box-sizing: border-box;
  max-width: 1044px;
}

.centerDiv {
  margin: 0 auto;
}

.imageLayout {
  padding: 0 10px;
  float: left;
  width: 22%;
}

.responsiveImg {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

@import "mobile";