html {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 150px;
  margin-top: 20px;
}

h1, p {
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 300%;
  font-weight: bold;
}

p {
  font-size: 150%;
}

#logo {
  width: 160px;
  height: 215px;
}

#pContainer {
  width: 500px;
}

.centerText {
  text-align: center;
}

.centerDiv {
  margin: 0 auto;
}

img {
  width: 350px;
  height: 350px;
  margin: 10px;
}

#textContainer, #imageContainer {
  width: 1520px;
}

@media (max-width: 475px)  {
  body {
    margin: 15px;
  }

  h1 {
    font-size: 225%;
  }

  p {
    font-size: 130%;
  }

  #textContainer {
    width: 445px;
  }
  #pContainer {
    margin-top: 60px;
    text-align: center;
    width: 78%;
  }

  #imageContainer {
    width: 475px;
  }
  img {
    width: 215px;
    height: 215px;
    margin: 5px;
  }
}